/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{  
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.hue-blue{
    background: #1F75FE ;
}

.header-logo{
    
}